name: Build Mandelbrot

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to build"
        required: true
        type: string
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "main" ]

permissions: 
  contents: write



jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    strategy:
      # Run on Windows, Linux, AND macOS
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event_name == 'workflow_dispatch' && format('refs/tags/{0}', inputs.tag) || github.ref }}

    # ensure SDL is setup on all platforms, known stable version
    - name: Setup SDL
      uses: libsdl-org/setup-sdl@v1
      with:
        install-linux-dependencies: true
        version: 3-head

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release
      
    # windows requires both the dll and exe. I zip them together here.
    - name: Create Windows Release Package
      if: matrix.os == 'windows-latest'
      shell: bash
      run: |
        mkdir Mandelbrot-Windows-x64
        cp build/Release/Mandelbrot.exe Mandelbrot-Windows-x64/
        cp build/Release/SDL3.dll Mandelbrot-Windows-x64/
        cp build/Release/pthreadVC2.dll Mandelbrot-Windows-x64/
        7z a Mandelbrot-Windows.zip Mandelbrot-Windows-x64/
        
    - name: Upload Windows Artifact
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Mandelbrot-Windows
        path: Mandelbrot-Windows.zip

    - name: Upload Linux Artifact
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Mandelbrot-Linux
        path: build/Mandelbrot
        
    - name: Upload macOS Artifact
      if: matrix.os == 'macos-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Mandelbrot-macOS
        path: build/Mandelbrot
  
  release:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Package macOS + Linux
        run: |
          ls -R dist
          chmod +x dist/Mandelbrot-Linux/Mandelbrot || true
          chmod +x dist/Mandelbrot-macOS/Mandelbrot || true

          tar -czf Mandelbrot-Linux.tar.gz -C dist/Mandelbrot-Linux Mandelbrot
          tar -czf Mandelbrot-macOS.tar.gz -C dist/Mandelbrot-macOS Mandelbrot

          cp dist/Mandelbrot-Windows/Mandelbrot-Windows.zip .

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          tag_name: ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}
          files: |
            Mandelbrot-Windows.zip
            Mandelbrot-Linux.tar.gz
            Mandelbrot-macOS.tar.gz