name: Build Mandelbrot

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to build"
        required: true
        type: string
  push:
    branches: [ "main" ]
    tags:
      - "v*"

permissions: 
  contents: write

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    strategy:
      # Run on Windows, Linux, AND macOS
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event_name == 'workflow_dispatch' && format('refs/tags/{0}', inputs.tag) || github.ref }}

    # Install System Build Tools

    # Linux
    - name: Install Dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git cmake ninja-build pkg-config \
        gnome-desktop-testing \
        libasound2-dev libpulse-dev libaudio-dev libjack-dev libsndio-dev libsamplerate0-dev \
        libusb-1.0-0-dev \
        libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev \
        libxinerama-dev libxxf86vm-dev libxtst-dev \
        libwayland-dev libxkbcommon-dev libdrm-dev libgbm-dev \
        libgl1-mesa-dev libgles2-mesa-dev libegl1-mesa-dev \
        libdbus-1-dev libibus-1.0-dev libudev-dev fcitx-libs-dev \
        libdecor-0-dev

    # MacOS
    - name: Install Dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install ninja cmake

    # Build SDL3 from source
    - name: Clone SDL3
      run: git clone --depth 1 https://github.com/libsdl-org/SDL.git

    # Linux / MacOS
    - name: Build SDL3 (Linux/macOS)
      if: runner.os != 'Windows'
      run: |
        cmake -S SDL -B sdl_build -DCMAKE_BUILD_TYPE=Release
        cmake --build sdl_build --config Release --parallel
        sudo cmake --install sdl_build 
        # installs to /usr/local/

    # Windows
    - name: Build SDL3 (Windows)
      if: runner.os == 'Windows'
      shell: bash
      run: |
        cmake -S SDL -B sdl_build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=sdl_install
        cmake --build sdl_build --config Release --parallel
        cmake --install sdl_build
        # installs to ${{ github.workspace }}/sdl_install


    # Build Mandelbrot
    - name: Configure Mandelbrot
      shell: bash
      run: |
        # if Windows, point CMake to the local SDL install
        if [ "$RUNNER_OS" == "Windows" ]; then
           cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=${{ github.workspace }}/sdl_install
        else
           cmake -B build -DCMAKE_BUILD_TYPE=Release
        fi

    - name: Build Mandelbrot
      run: cmake --build build --config Release


    # Packaging
    # windows requires both the dll and exe. I zip them together here.
    - name: Create Windows Release Package
      if: matrix.os == 'windows-latest'
      shell: bash
      run: |
        mkdir Mandelbrot-Windows-x64
        cp build/Release/Mandelbrot.exe Mandelbrot-Windows-x64/
        cp build/Release/SDL3.dll Mandelbrot-Windows-x64/
        cp build/Release/pthreadVC2.dll Mandelbrot-Windows-x64/
        7z a Mandelbrot-Windows.zip Mandelbrot-Windows-x64/
        
    - name: Upload Windows Artifact
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Mandelbrot-Windows
        path: Mandelbrot-Windows.zip

    - name: Upload Linux Artifact
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Mandelbrot-Linux
        path: build/Mandelbrot
        
    - name: Upload macOS Artifact
      if: matrix.os == 'macos-latest'
      uses: actions/upload-artifact@v4
      with:
        name: Mandelbrot-macOS
        path: build/Mandelbrot
  
  release:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Package macOS + Linux
        run: |
          ls -R dist
          chmod +x dist/Mandelbrot-Linux/Mandelbrot || true
          chmod +x dist/Mandelbrot-macOS/Mandelbrot || true

          tar -czf Mandelbrot-Linux.tar.gz -C dist/Mandelbrot-Linux Mandelbrot
          tar -czf Mandelbrot-macOS.tar.gz -C dist/Mandelbrot-macOS Mandelbrot

          cp dist/Mandelbrot-Windows/Mandelbrot-Windows.zip .

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          tag_name: ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}
          files: |
            Mandelbrot-Windows.zip
            Mandelbrot-Linux.tar.gz
            Mandelbrot-macOS.tar.gz